<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, eligendi itaque cum quaerat, corporis soluta necessitatibus quisquam, excepturi officia tenetur mollitia praesentium consequatur! Et sint culpa ullam praesentium unde veritatis.
        </p>
    </div>
</div>