<div class="jumbotron mt-4">
    <p class="lead">
        Bienvenido a esta app de tareas, aquí podrás registrarte con un nuevo usuario e iniciar sesión con el mismo.
    </p>
    <hr class="my-4">
    <p>
        Sitio desarrollado con las tecnologías de Express.js como backend, el motor de plantillas, handlebars y como base de datos mongodb
    </p>
    <a href="/users/signin" class="btn btn-primary btn-lg">Iniciar</a>
</div>
