<div class="jumbotron mt-4">
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, asperiores saepe eius perferendis magnam ea quo quaerat voluptatem veritatis veniam soluta expedita excepturi nulla, consequatur pariatur neque eum quod commodi.</p>
    <hr class="my-4">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dolore et similique officiis. Id quod iure, voluptates odio ab, totam eum, aut consequuntur voluptate laudantium autem ratione et vitae consectetur?
    </p>
    <a href="google.com" class="btn btn-primary btn-lg">Hola</a>
</div>
